/* GENERAL STYLES */
.pagination{
  padding: 30px 0;
}
.pagination ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.pagination a{
  display: inline-block;
  padding: 10px 18px;
  color: #3b3f5c;
  font-weight: 600;
}
/* ONE */
.p1 a{
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  transition: all ease 0.3s;
  border-radius: 50%;
}
.p1 a:hover{
    background-color: #2262c6;
    border-radius: 50%;
    color: #fff;
    transition: all ease 0.3s;
}
.p1 a.is-active{
  background-color: #2262c6;
  border-radius: 100%;
  color: #fff;
}
/* TWO */
.p2 .is-active li{
  font-weight: bold;
  border-bottom: 3px solid #2262c6;
}
.p2 .is-active{
  font-weight: bold;
  color: #2262c6;
}
.p2 a:hover{
  font-weight: bold;
  color: #2262c6;
}
/* THREE */
.p3 .is-active{
  background-color: #2262c6;
  color: #fff;
}
.p3 a:hover{
  background-color: #2262c6;
  color: #fff;
  transition: all ease 0.3s;
}
/* FOUR */
.p4 a{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100%;
  padding: 0;
  text-align: center;
  position: relative;
  border: 3px solid #2262c6;
  transition: all ease 0.3s;
}
.p4 a:hover{
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #2262c6;
  transition: all ease 0.3s;
}
.p4 .is-active:before{
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #2262c6;
  position: absolute;
  top: -3px;
  left: -3px;
}
/* FIVE */
.p5 a{
  width: 30px;
  height: 5px;
  padding: 0;
  margin: auto 5px;
  background-color: rgba(34, 97, 198, 0.39);
  transition: all ease 0.3s;
}
.p5 a:hover{
  background-color: #2262c6;
  transition: all ease 0.3s;
}
.p5 .is-active{
  background-color: #2262c6;
}
/* SIX */
.p6 a{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 0;
  margin: auto 5px;
  text-align: center;
  position: relative;
  background-color: rgba(34, 97, 198, 0.39);
  transition: all ease 0.3s;
}
.p6 a:hover{
  background-color: #2262c6;
  transition: all ease 0.3s;
}
.p6 .is-active{
  background-color: #2262c6;
}
/* SEVEN */
.p7 a{
  border: 2px solid #2262c6;
  margin: auto 5px;
  color: #2262c6;
  font-weight: bold;
  transition: all ease 0.3s;
}
.p7 a:hover{
  background-color: #2262c6;
  color: #fff;
  transition: all ease 0.3s;
}
.p7 .is-active{
  background-color: #2262c6;
  color: #fff;
}
/* EIGHT */
.p8 a{
  background-color: #2262c6;
  margin: auto 5px;
  color: #fff;
  font-weight: bold;
  border: 2px solid #2262c6;
}
.p8 a:hover{
  background-color: #2262c6;
  color: #fff;
  transition: all ease 0.3s;
}
.p8 .is-active{
  background-color: #fff;
  color: #2262c6;
}
/* NINE */
.p9 a{
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  text-align: center;
  margin: auto 5px;
  border: 2px solid transparent;
  transition: all ease 0.3s;
}
.p9 a:hover{
  border: 2px solid #2262c6;
  border-radius: 100%;
  transition: all ease 0.3s;
}
.p9 a.is-active{
  border: 2px solid #2262c6;
  border-radius: 100%;
}
.p9 li {
  height: 24px;
  line-height: 24px;
}
/* TEN */
.p10 a{
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  text-align: center;
  margin: auto 5px;
  transition: all ease 0.3s;
  border: 2px solid transparent;
}
.p10 a:hover{
  border: 2px solid #2262c6;
  transition: all ease 0.3s;
}
.p10 a.is-active{
  border: 2px solid #2262c6;
}
.p10 li {
  height: 24px;
  line-height: 24px;
}
/* ELEVEN */
.p11{
  padding-left: 20px;
  padding-right: 20px;
}
.p11 a{
  background-color: #2262c6;
  margin: auto 5px;
  color: #fff;
  border: 1px solid #2262c6;
  position: relative;
}
.p11 a:first-of-type:before{
  content: "";
  position: absolute;
  top: -1px;
  left: -23px;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-right: 22px solid #2262c6;
}
.p11 a:last-of-type:after{
  content: "";
  position: absolute;
  top: -2px;
  right: -23px;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 22px solid #2262c6;
}
.p11 .is-active{
  font-weight: bold;
}
/* TWELVE */
.p12 a:first-of-type, .p12 a:last-of-type, .p12 .is-active{
  background-color: #2262c6;
  color: #fff;
  font-weight: bold;
}
.p12 a:hover{
  background-color: #2262c6;
  color: #fff;
  font-weight: bold;
}
/* Thirteen */
.p13 li {
  font-weight: 600;
  color: rgb(59, 63, 92);
}
.p13 a{
  background-color: #e8e8e8;
  border-radius: 4px;
  transition: all ease 0.2s;
}
.p13 a:hover, .p13 a.is-active{
  background-color: #2262c6;
  transition: all ease 0.2s;
}
.p13 a:hover li, .p13 a.is-active li{
  color: #ffffff;
}
  