/* Switches */
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 18px;
}
.switch input {display:none;}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebedf2;
  -webkit-transition: .4s;
  transition: .4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  background-color: white;
  -webkit-transition: .4s;
  -ms-transition: .4s;
  transition: .4s;
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px)
}
.switch .slider.round { border-radius: 34px; }
.switch .slider.round:before { border-radius: 50%; }
.switch.switch-primary .slider:before { background-color: #1b55e2; }
.switch input:checked + .slider:before { background-color: #fff; }
.switch.switch-primary input:checked + .slider { background-color: #1b55e2; }
.switch.switch-primary input:focus + .slider { box-shadow: 0 0 1px #1b55e2; }
.switch.switch-outline .slider {
  border: 2px solid #ebedf2;
  background-color: transparent;
  width: 36px;
  height: 19px;
}
.switch.switch-outline .slider:before { height: 13px; width: 13px; }
.switch.switch-outline[class*="switch-outline-"] .slider:before {
  bottom: 1px;
  left: 1px;
  border: 2px solid #bfc9d4;
  background-color: #bfc9d4;
  color: #ebedf2;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.25);
}
.switch.switch-icons.switch-outline-primary { color: #1b55e2; }
.switch.switch-outline-default input:focus + .slider { box-shadow: 0 0 1px #ebedf2; }
.switch.switch-outline-primary input:checked + .slider { border: 2px solid #1b55e2; }
.switch.switch-outline-primary input:checked + .slider:before {
  border: 2px solid #1b55e2;
  background-color: #1b55e2;
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.34);
}
.switch.switch-outline-dark input:focus + .slider { box-shadow: 0 0 1px #3b3f5c; }
.switch.switch-icons {
  width: 57px;
  height: 30px;
}
.switch.switch-icons .slider {
  width: 48px;
  height: 25px;
}
.switch.switch-icons .slider:before {
  vertical-align: sub;
  color: #3b3f5c;
  height: 19px;
  width: 19px;
  line-height: 1.3;
  content: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="%23e9ecef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>');
}
.switch.switch-icons input:checked + .slider:before {
  content: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="%23fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>');
  vertical-align: sub;
  color: #fff;
  line-height: 1.4;
}
.switch.switch-icons input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}