/* Tagify */
.cld tags.tagify{
    margin-top: -22px;
}
/* Tagify Custom Look  */
.customLook{
    --tag-bg                  : #0052BF;
    --tag-hover               : #CE0078;
    --tag-text-color          : #FFF;
    --tags-border-color       : silver;
    --tag-text-color--edit    : #111;
    --tag-remove-bg           : var(--tag-hover);
    --tag-pad                 : .6em 1em;
    --tag-inset-shadow-size   : 1.3em;
    --tag-remove-btn-bg--hover: black;
    display: inline-block;
    min-width: 0;
    border: none;
}
.customLook .tagify__tag{
    margin-top: 0;
}
.customLook .tagify__tag > div{
    border-radius: 25px;
}
.customLook .tagify__tag:only-of-type .tagify__tag__removeBtn{
    display: none;
}
.customLook .tagify__tag__removeBtn{
    opacity: 0;
    transform: translateX(-6px) scale(.5);
    margin-left: -3ch;
    transition: .12s;
}
.customLook .tagify__tag:hover .tagify__tag__removeBtn{
    transform: none;
    opacity: 1;
    margin-left: -1ch;
}
.customLook + button{
    color: #0052BF;
    font: bold 1.4em/1.65 Arial;
    border: 0;
    background: none;
    box-shadow: 0 0 0 2px inset currentColor;
    border-radius: 50%;
    width: 1.65em;
    height: 1.65em;
    cursor: pointer;
    outline: none;
    transition: .1s ease-out;
    margin: 0 0 0 5px;
    vertical-align: top;
}
.customLook + button:hover{
    box-shadow: 0 0 0 5px inset currentColor;
}
.customLook .tagify__input{
    display: none;
}
/* Outside of the box */
.tagify--outside .tagify__input{
    order: -1;
    flex: 100%;
    margin-bottom: 1em;
    transition: .1s;
}
.tagify--outside .tagify__input:hover{ border-color:var(--tags-hover-border-color); }
.tagify--outside.tagify--focus .tagify__input{
    transition:0s;
    border-color: var(--tags-focus-border-color);
}
/* Custom Tag Color */
.custom-tag-color .tagify {
    --tag-bg: #2262c6;
    --tag-text-color: white;
    --tag-remove-btn-color: white;
    --tag-hover: #FF9800;
    --tag-text-color--edit: #2262c6;
    --tag-remove-bg: #ff2929;
}
