.attached-files {
    text-align: center;
    width: 140px;
    position: relative;
    border: 1px solid #e4e4e4;
    padding: 10px;
    border-radius: 10px;
    display: none;
    margin-bottom: 20px;
}
.attached-files img{
    height: 100px;
    width: 100px;
    object-fit: contain;
    border-radius: 10px;
}
.attached-files label{
    display: block;
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 0px;
}
.attached-files span.delete-label {
    position: absolute;
    top: -6px;
    background: #e91e7c;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    right: -5px;
}
/* Dropzone */
#dropzone .dropzone .dz-message .dz-button {
    font-size: 23px;
    font-weight: 300;
    color: #2262c6;
}
#dropzone .dropzone span.note.needsclick {
    font-weight: 300;
}
#dropzone .dropzone {
    border: 2px dashed hsla(217, 71%, 45%, 0.38);
}
#dropzone .dropzone .dz-preview.dz-error:hover .dz-error-message {
    opacity: 0;
    pointer-events: auto;
}
#dropzone .dropzone .dz-preview.dz-error .dz-error-mark {
    opacity: 0;
}