.lightbox-side-open > ul {
    margin-bottom: 0;
    list-style: none;
    padding: 0px;
} 
.lightbox-side-open > ul > li a {
    border: 1px solid #efefef;
    border-radius: 3px;
    padding: 0.4rem;
    display: block;
    position: relative;
}
.lightbox-side-open > ul > li a > img {
    transition: all ease 0.3s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}
.lightbox-side-open > ul > li a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
    transition: all ease 0.3s;
}
.lightbox-side-open.dark > ul > li a {
    border: 3px solid #04070a;
}
.home .lightbox-side-open {
    padding-bottom: 80px;
}
.lightbox-side-open .list-unstyled li {
    margin-bottom: 1.5rem;
}