.media {
  margin-top: 20px;
  margin-bottom: 20px;
}
.media img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.media .media-body { align-self: center; }
.media .media-body .media-heading {
  color: #3b3f5c;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 17px;
  letter-spacing: 1px;
}
.media .media-body .media-text {
  color: #515365;
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 0; 
}
.media-right-aligned .media img {
  margin-right: 0;
  margin-left: 15px;
}
.notation-text .media .media-body .media-notation {
  margin-top: 8px;
  margin-bottom: 9px;
}
.notation-text .media .media-body .media-notation a {
  color: #515365;
  font-size: 13px;
  font-weight: 700;
  margin-right: 8px;
}
.m-o-label .media:first-child { border-top: none; }
.m-o-dropdown-list .media:first-child { border-top: none; }
.m-o-dropdown-list .media .media-heading {
  display: flex;
  justify-content: space-between;
}
.media-object-area .dropdown:not(.custom-dropdown-icon) .dropdown-menu a.dropdown-item {
  font-size: 13px;
  font-weight: 500;
  color: #888ea8;
  padding: 11px 8px;
}
.media-object-area .dropdown:not(.custom-dropdown-icon) .dropdown-menu a.dropdown-item.active, .dropdown:not(.custom-dropdown-icon) .dropdown-menu a.dropdown-item:active {
  background-color: transparent;
  color: #666;
  font-weight: 700;
}
.media-object-area .dropdown-item:focus, .dropdown-item:hover {
  text-decoration: none;
  background-color: #edf2fd;
  border-radius: 6px;
}