body {
    overflow: auto;
    margin: 0;
    padding: 0;
    background: #fff;
}
.coming-soon-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.coming-soon-top {
    background: #b8bdff;
    height: 50%;
    position: relative;
    overflow: visible;
}
img.coming-soon-bg {
    object-fit: cover;
    position: absolute;
    bottom: -20px;
    height: 290px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
.area{
    background: linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100%;
}
.squares{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.squares li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5);
    animation: animate 25s linear infinite;
    bottom: -150px;
}
.squares li:nth-child(1){
    left: 15%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.squares li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.squares li:nth-child(3){
    left: 20%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.squares li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.squares li:nth-child(5){
    left: 25%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.squares li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.squares li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.squares li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 25s;
}
.squares li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 30s;
}
.squares li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 10s;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
.coming-soon-bottom {
    padding-top: 40px;
    text-align: center;
}
.coming-soon-bottom h1 {
    letter-spacing: -0.2px;
    color: #2262c6;
    font-size: 40px;
}
input.coming-soon-input {
    border: 0px;
    font-size: 13px;
    min-width: 220px;
}
.coming-soon-form {
    border: 1px solid rgba(34, 98, 198, 0.41);
    border-radius: 7px;
    padding: 7px 10px 7px 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}
a.social-media-icon {
    font-size: 25px;
    margin: 0px 5px;
}
/* Media Query */
@media(max-width: 575px) {
    .coming-soon-top {
        height: 30%;
    }
    img.coming-soon-bg {
        height: 170px;
    }
    .coming-soon-bottom {
        padding: 80px 20px 40px;
    }
    .coming-soon-bottom h1 {
        font-size: 24px;
    }
    input.coming-soon-input {
        min-width: unset;
    }
}
/* Tablet Media Query */
@media (min-width: 600px) and (max-width: 1068px) {
    .coming-soon-bottom {
        padding: 80px 20px 40px;
    }
}