.layout-spacing {
    padding-bottom: 25px;
}
.widget {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    border: none;
    background: #fff;
    -webkit-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
}
.widget .widget-heading {
    margin-bottom: 15px;
}
.widget h5 {
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0px;
    margin-bottom: 0;
    color: #515365;
}
.widget .widget-content {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.widget .dropdown-toggle{
    position: relative;
    padding: 9px 15px 10px 15px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    transform: none;
    font-size: 13px;
    line-height: 17px;
    background-color: #fff;
    letter-spacing: normal;
    min-width: 115px;
    text-align: inherit;
    color: #1b2e4b;
    box-shadow: none;
    max-height: 35px;
}
.widget .dropdown-menu a {
    padding: 8px 15px;
    font-size: 13px;
    font-weight: 500;
    color: #3b3f5c;
}
/* STATISTICS */
.gradient-purple-bliss {
    background-image: linear-gradient(45deg,#562db7,#60aff0);
    background-repeat: repeat-x;
}
/* ADD PROJECT */
.iq-card-block.iq-card-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 200px;
}
.iq-card-block {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.iq-card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 0px;
    border: none;
}
.iq-card .iq-card-header {
    padding: 0 0px;
    min-height: 60px;
    border-bottom: 1px solid #f2edff;
    align-items: center !important;
}
.dash-hover-blank {
    background-color: #eee;
    border: dashed 2px #444;
    height: 100%;
    justify-content: center;
}
.dash-hover-blank:hover {
    cursor: pointer;
    background-color: #ddd;
}
/* Widget Chart One */
.widget-chart-one .widget-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.widget-chart-one .apexcharts-legend-marker {
    left: -5px!important;
}
.widget-chart-one .apexcharts-yaxis-title {
    font-weight: 600;
    fill: #b7b7b7
}
.widget-chart-one .apexcharts-xaxis-title {
    font-weight: 600;
    fill: #b7b7b7
}
.widget-chart-one .widget-heading .tabs {
    padding: 0;
    margin: 0;
}
.widget-chart-one .widget-heading .tabs li {
    display: inline-block;
    list-style: none;
    padding: 0 0;
}
/* Widget */
.widget-best-seller {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.widget-three {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.09019607843137255), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
}
/* Widget Six */
.widget-six {
    position: relative;
    background: #fff;
    padding: 0px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.09019607843137255), 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0px 1px 11px 0px rgba(0, 0, 0, 0.06);
}
.widget-six-icon-container {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* User Status */
.user-status-container{
    height: 120px;
}
/* Nav Item Right Buttons */
.nav-item .dash-btn {
    padding: .40rem .45rem !important;
}
.nav-item .dash-btn i{
    font-size: .875rem;
}
.nav-item.custom-dropdown-icon .dropdown-menu a {
    padding: 8px 15px;
    font-size: 13px;
    font-weight: 500;
    color: #3b3f5c;
} 
.nav-item .dropdown-menu.dropdown-menu-right {
    transform: translate3d(0px, 37px, 0px);
}
.nav-item.more-dropdown .flatpickr-input {
    height: 31px;
    font-size: 11px;
    width: 181px;
    padding-right: 0px;
}
.nav-item.more-dropdown .flatpickr-input::placeholder {
    font-size: 11px;
}
/* All Projects Starts */
.dashboard-table {
    position: relative;
}
.dashboard-table .table > thead > tr > th {
    text-transform: initial;
    font-weight: 500;
    background-color: #f3f7f9;
    color: #0e1726;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    padding: .75rem;
}
.dashboard-table .extra-group-people {
    background: #c8d8f1;
    color: #2262c6;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard-table .widget-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.widget.dashboard-table .dropdown-toggle {
    position: relative;
    padding: 6px 10px 6px 10px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    transform: none;
    font-size: 12px;
    line-height: 17px;
    background-color: #fff;
    letter-spacing: normal;
    min-width: 115px;
    text-align: inherit;
    color: #1b2e4b;
    box-shadow: none;
    max-height: 35px;
}
/* Media Query */
@media(min-width: 1200px) {
    .table-responsive {
        overflow-x: hidden;
    }
}
@media(max-width: 1430px) and (min-width: 1200px) {
}
@media(max-width: 767px) {
    .nav-item .dropdown-menu.dropdown-menu-right {
        transform: translate3d(0px, 77px, 0px);
    }
}
@media(max-width: 575px) {
}