.notifications-table-widget .widget-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #f5f9ff;
}
.notifications-table-widget .widget-heading h5 {
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0px;
    margin-bottom: 0;
    color: #515365;
}
.notifications-table-widget .dropdown-toggle {
    position: relative;
    padding: 6px 10px 6px 10px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    transform: none;
    font-size: 12px;
    line-height: 17px;
    background-color: #fff;
    letter-spacing: normal;
    min-width: 115px;
    text-align: inherit;
    color: #1b2e4b;
    box-shadow: none;
    max-height: 35px;
}
.notifications-table-widget .dropdown-menu a {
    padding: 8px 15px;
    font-size: 13px;
    font-weight: 500;
    color: #3b3f5c;
}
.notifications-table-widget {
    border: 1px solid #e6e6e6;
    border-radius: 6px;
}
.notifications-table-widget tr{
    cursor: pointer;
}
.notifications-table-widget .switch-outer-container .switch {
    width: 54px;
    margin-left: 12px;
}
.notifications-table-widget .switch-outer-container .switch input:checked ~ span:before {
    background-color: #cee1ff;
}