.card-box {
  background-color: #fff;
  padding: 1.4rem 1.2rem;
  box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, 0.15);
  margin-bottom: 20px;  
  border-radius: .25rem;
}
.widget-content.searchable-container.grid {
  width: 100%;
}
/* Filtered List Search */
.filtered-list-search form > div {
  position: relative;
  width: 80%;
}
.filtered-list-search form input.search-form-control {
  border: 1px solid #e6f0ff;
  width: 100%;
  font-size: 13px !important;
  background-color: #e6f0ff;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #2262c6;
  letter-spacing: 0.5px;
  padding: 0px 4px 0px 40px;
  height: 36px;
  font-weight: 500;
}
.filtered-list-search form input:focus {
  box-shadow: none;
  border: 1px solid #b0d0ff !important;
  border-color: #b0d0ff !important;
  color: #2262c6;
}
.filtered-list-search form i.la-search {
  position: absolute;
  color: #82b4ff;
  left: 11px;
  top: 10px;
  font-size: 18px;
}
.filtered-list-search form input:focus::placeholder {
  color: #2262c6;
  font-size: 13px !important;
}
.filtered-list-search form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #2262c6;
  font-size: 13px !important;
}
.filtered-list-search form input::-moz-placeholder { /* Firefox 19+ */
  color: #2262c6;
  font-size: 13px !important;
}
.filtered-list-search form input:-ms-input-placeholder { /* IE 10+ */
  color: #2262c6;
  font-size: 13px !important;
}
.filtered-list-search form input:-moz-placeholder { /* Firefox 18- */
  color: #2262c6;
  font-size: 13px !important;
}
.searchable-container .switch {
  text-align: right;
}
.searchable-container .switch .view-grid {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  color: #515365;
  box-shadow: 0px 2px 4px rgba(126,142,177,0.12);
  width: 43px;
  height: 41px;
  fill: rgba(0, 23, 55, 0.08);
}
.searchable-container .switch .view-list {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  color: #515365;
  box-shadow: 0px 2px 4px rgba(126,142,177,0.12);
  width: 43px;
  height: 41px;
  fill: rgba(0, 23, 55, 0.08);
}
.contact-options a.s-o {
  color: #2262c6;
  font-size: 19px;
  font-weight: 700;
  height: 33px;
  width: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px !important;
  border-radius: 50%;
  cursor: pointer;
  transition: all ease 0.4s;
}
.custom-dropdown-icon .dropdown-toggle {
  position: relative;
  padding: 7px 12px 7px 12px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  transform: none;
  font-size: 12px;
  line-height: 17px;
  background-color: #fff;
  letter-spacing: normal;
  min-width: 115px;
  text-align: inherit;
  color: #1b2e4b;
  box-shadow: none;
  max-height: 35px;
  margin-left: 1rem;
}
.searchable-container .modal-content {
  border: none;
  box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
}
.searchable-container .modal-content svg.close {
  position: absolute;
  right: -7px;
  top: -8px;
  font-size: 12px;
  font-weight: 600;
  padding: 7px;
  background: #fff;
  border-radius: 5px;
  opacity: 1;
  color: #2196f3;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
  cursor: pointer;
  transition: .600s;
}
.searchable-container .add-company-box .add-company-content .company-name .validation-text,
.searchable-container .add-company-box .add-company-content .company-email .validation-text,
.searchable-container .add-company-box .add-company-content .company-project .validation-text,
.searchable-container .add-company-box .add-company-content .company-company .validation-text,
.searchable-container .add-company-box .add-company-content .company-description .validation-text {
  display: none;
  color: #e7515a;
  font-weight: 600;
  text-align: left;
  margin-top: 6px;
  font-size: 12px;
  letter-spacing: 1px;
}
.searchable-container .add-company-box .add-company-content .company-name {
  padding-top: 20px;
}
.searchable-container .add-company-box .add-company-content .company-email {
  padding-top: 20px;
}
.searchable-container .add-company-box .add-company-content .company-project {
  padding-top: 20px;
}
.searchable-container .add-company-box .add-company-content .company-team {
  padding-top: 20px;
}
.searchable-container .add-company-box .add-company-content .company-description {
  padding-top: 20px;
}
.searchable-container .add-company-box .add-company-content .company-description #c-location {
  resize: none;
}
.add-company-content i{
  font-size: 20px;
  color: #3b3f5c;
  position: absolute;
  top: 33px;
  left: 25px;
}
.add-company-content .form-control {
  padding: .75rem 1.25rem .75rem 2.25rem;
}
.searchable-container .modal-footer {
  border: none;
  padding: 0 15px 14px 15px;
}
.searchable-container .modal-footer .btn[data-dismiss="modal"] {
  background-color: #fff;
  color: #1b55e2;
  font-weight: 700;
  border: 1px solid #e8e8e8;
  padding: 10px 25px;
}
.searchable-container .modal-footer .btn[data-dismiss="modal"] svg {
  font-size: 11px;
  font-weight: 600;
  margin-right: 8px;
}
.searchable-container .modal-footer .btn#btn-add {
  background-color: #1b55e2;
  color: #fff;
  font-weight: 600;
  border: 1px solid #1b55e2;
  padding: 10px 25px;
}
.searchable-container .modal-footer .btn#btn-edit {
  background-color: #009688;
  color: #fff;
  font-weight: 600;
  border: 1px solid #e0e6ed;
  padding: 10px 25px;
}
.searchable-container .switch .view-grid:hover,
.searchable-container .switch .view-list:hover {
  color: #1b55e2;
  fill: rgba(27, 85, 226, 0.23921568627450981);
}
.searchable-container .switch .active-view {
  color: #1b55e2;
  fill: rgba(27, 85, 226, 0.23921568627450981);
}
.searchable-items.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.searchable-items.grid{
  padding: 0px;
  background: transparent;
  box-shadow: none;
}    
.searchable-container .searchable-items.grid .items {
  margin-bottom: 30px;
  border-radius: 6px;
  width: 100%;
  color: #0e1726;
  transition: all 0.35s ease;
  width: 33%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.searchable-container .searchable-items.grid .items .item-content {
  background-color: #fff;
  padding: 13px 18px;
  box-shadow: 0px 0px 4px 1px rgba(126,142,177,0.12);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(126, 142, 177, 0.22);
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.searchable-container .searchable-items.grid .items .item-content:hover {
  box-shadow: 0px 2px 4px rgba(126,142,177,0.32);
  transition: all 0.35s ease;
}
.searchable-container .searchable-items.grid .items.items-header-section {
  display: none;
}
.searchable-container .searchable-items.grid .items .user-profile {
  text-align: center;
  margin-top: 20px;
}
.searchable-container .searchable-items.grid .items .user-profile .n-chk {
  display: none;
}
.searchable-container .searchable-items.grid .items .user-meta-info {
  margin-top: 10px;
}
.searchable-container .searchable-items.grid .items .user-meta-info .user-name {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 0;
  color: #2262c6;
  letter-spacing: 0.5px;
}
.searchable-container .searchable-items.grid .items .user-meta-info .user-work {
  font-weight: 500;
  font-size: 13px;
}
.searchable-container .searchable-items.grid .items .user-email {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.searchable-container .searchable-items.grid .items .user-email .info-title {
  font-size: 14px;
  font-weight: 600;
  color: #3b3f5c;
  margin-bottom: 11px;
}
.searchable-container .searchable-items.grid .items .user-email p {
  color: #5d5d5d;
  font-size: 13px;
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.searchable-container .searchable-items.grid .items .user-email p span{
  font-size: 19px;
  height: 24px;
  margin-right: 6px;
  color: #4990ff9c;
}
.searchable-container .searchable-items.grid .items .user-location .info-title {
  font-size: 14px;
  font-weight: 600;
  color: #3b3f5c;
  margin-bottom: 11px;
  margin-right: 10px;
}
.searchable-container .searchable-items.grid .items .user-location {
  display: flex;
  justify-content: center;
}
.searchable-container .searchable-items.grid .items .user-location p {
  color: #5d5d5d;
  font-size: 13px;
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.searchable-container .searchable-items.grid .items .user-location p span{
  font-size: 19px;
  height: 24px;
  margin-right: 6px;
  color: #4990ff9c;
}
.searchable-container .searchable-items.grid .items .user-phone .info-title {
  font-size: 14px;
  font-weight: 600;
  color: #3b3f5c;
  margin-bottom: 11px;
}
.searchable-container .searchable-items.grid .items .user-phone {
  display: flex;
  justify-content: center;
}
.searchable-container .searchable-items.grid .items .user-phone p {
  color: #5d5d5d;
  font-size: 13px;
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.searchable-container .searchable-items.grid .items .user-phone p span{
  font-size: 19px;
  height: 24px;
  margin-right: 6px;
  color: #4990ff9c;
}
.searchable-container .searchable-items.grid .items .action-btn {
  font-weight: 600;
  color: #acb0c3;
  text-align: center;
  margin: 15px 0 5px;
}
.searchable-container .searchable-items.grid .items .action-btn .edit {
  margin-right: 5px;
  cursor: pointer;
  color: #515365;
  width: 20px;
  fill: rgba(27, 85, 226, 0.23921568627450981);
}
.searchable-container .searchable-items.grid .items .action-btn .delete {
  margin-right: 5px;
  cursor: pointer;
  color: #515365;
  width: 20px;
  fill: rgba(27, 85, 226, 0.23921568627450981);
}
.searchable-container .searchable-items.grid .items .action-btn .edit:hover,
.searchable-container .searchable-items.grid .items .action-btn .delete:hover {
  color: #1b55e2;
}
.add-company-content i{
  font-size: 20px;
  color: #3b3f5c;
  position: absolute;
  top: 33px;
  left: 25px;
}
.light-image {
  position: absolute;
  top: -30px;
  left: -40px;
  opacity: 0.06;
  height: 120px;
}
/* Details */
.company-detail-container .company-info {
  width: 100%;
}
.company-detail-container .company-info .name{
  font-weight: 700;
  font-size: 19px;
  letter-spacing: 0px;
  color: #515365;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.company-info-right p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #666 !important;
  font-weight: 500;
  font-size: 12px;
}
.company-info-right .social-media a{
  color: #2262c6;
  font-size: 28px;
  margin-left: 0.5rem;
}
.animated-underline-content .nav-tabs { border-bottom: 1px solid #e0e6ed; }
.animated-underline-content .nav-tabs li a {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}
.animated-underline-content .tab-content>.tab-pane { padding: 20px 0 0 0; }
.animated-underline-content .nav-tabs .nav-link.active, .animated-underline-content .nav-tabs .show>.nav-link {
  border-color: transparent;
  color: #2262c6;
}
.animated-underline-content .nav-tabs .nav-link:focus, .animated-underline-content .nav-tabs .nav-link:hover { border-color: transparent; }
.animated-underline-content .nav-tabs .nav-link.active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.animated-underline-content .nav-tabs .nav-link:before {
  content: "";
  height: 1px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #2262c6;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all .3s;
}
.animated-underline-content .nav-tabs .nav-link:hover {
  background: #f1f1f1;
  transition: all ease 0.4s;
  border: 1px solid transparent;
}
.animated-underline-content .contact-info {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  background: #f8fbff;
  border: 1px solid #f3f3f3;
  padding: 15px;
}
.animated-underline-content .contact-info a {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 13px;
  color: #666;
}
.animated-underline-content .contact-info a:hover{
  color: #2262c6;
  transition: all ease 0.4s;
}
.animated-underline-content .contact-info i {
  width: 35px;
  font-size: 20px;
  vertical-align: middle;
  color: #2262c6;
}
.animated-underline-content .contact-info .skills-container span{
  background: #dfedff;
  color: #666;
  font-size: 11px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 3px 10px;
  border-radius: 6px;
  font-weight: 600;
}
.animated-underline-content .contact-info .language-container .flag-width{
  width: 15px;
}
.animated-underline-content .contact-info .right-big-banner{
  text-align: center;
}
.animated-underline-content .contact-info .right-big-banner .img{
  height: 90px;
  margin-bottom: 1rem;
}
.animated-underline-content .contact-info .right-big-banner .project-name {
  font-weight: 600;
  margin-bottom: 0px;
}
.animated-underline-content .contact-info .right-big-banner .project-date {
  font-size: 12px;
  margin-bottom: 1rem;
}
.animated-underline-content .contact-info .right-big-banner a {
  display: block;
  font-size: 12px;
}
.single-project .card-body {
  padding: 22px 20px;
}
.single-project .card-img-top {
  width: 90px;
  margin: 20px 10px 0px;
}
.single-project .meta-date {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #2262c6;
}
.single-project .card-title {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.single-project .card-text {
  color: #888ea8;
  font-size: 11px;
}
.single-project .meta-info {
  position: relative;
  margin-top: 25px;
  padding-top: 15px;
}
.single-project .meta-info:before {
  content: '';
  position: absolute;
  height: 1px;
  background: #e0e6ed;
  top: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}
.single-project .meta-bottom-info {
  align-self: center;
  margin-right: 13px;
  color: #a7a7a7;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
}
.single-team .card-body {
  padding: 0;
  display: flex;
}
.single-team .user-profile {
  align-self: center;
  padding: 0 25px;
}
.single-team img {
  border-radius: 50%;
}
.single-team .user-info {
  padding: 24px 8px 24px 0px;
}
.single-team .card-user_name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}
.single-team .card-user_occupation {
  color: #888ea8;
  font-size: 13px;
}
.single-team .card-text {
  color: #8e8e8e;
  font-size: 12px;
  letter-spacing: 1px;
}
.single-team .card-star_rating {
  margin-bottom: 10px;
}
.single-team {
  width: 100%;
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 4px 6px 10px -3px #bfc9d4;
  box-shadow: 4px 6px 10px -3px #bfc9d4;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .new-control.new-checkbox .new-control-indicator {
    top: -13px;
    left: -8px;
  }
}
@media(max-width: 1199px) {
  .searchable-container .searchable-items.grid .items {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media(max-width: 767px) {
  .searchable-container .searchable-items.grid .items {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media(max-width: 575px) {
  .searchable-container .searchable-items.grid .items {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .company-detail-container .d-flex.align-items-start {
    flex-direction: column;
  }
  .company-detail-container .company-info {
    margin-top: 10px;
  }
  .single-team .card-body {
    flex-direction: column;
    padding: 15px 20px 0px;
    text-align: center;
  }
  .filtered-list-search form > div {
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
}