/* DASHBOARD STARTS */
.card-box {
  background-color: #fff;
  padding: 1.4rem 1.2rem;
  box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, 0.15);
  margin-bottom: 20px;
  border-radius: .25rem;
}
.widget {
  position: relative;
  padding: 20px;
  border-radius: 8px;
  border: none;
  background: #fff;
  -webkit-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
}
.quick-category {
  display: block;
  width: 100%;
  transition: all ease 0.5s;
}
.quick-category:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: all ease 0.5s;
}
.quick-category-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
span.quick-category-icon {
  font-size: 35px;
  display: flex;
  padding: 5px;
}
.qc-primary {
  background: #e6f0ff;
  color: #1b55e2;
}
.qc-warning {
  background: #ffebd2;
  color: #e2a03f;
}
.qc-secondary {
  background: #dbc4ff;
  color: #5c1ac3;
}
.qc-success-teal {
  background: #acfff7;
  color: #009688;
}
.qcompare-success {
  background: #8dbf42;
  color: #ffffff;
}
.qcompare-danger {
  background: #e7515a;
  color: #ffffff;
}
.quick-comparison {
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  border-radius: 9999px;
  color: #fff;
  font-size: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.25rem;
  align-items: center;
  font-weight: 500;
}
.widget-chart-one .widget-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.widget .widget-heading {
  margin-bottom: 15px;
}
.widget h5 {
  font-weight: 700;
  font-size: 19px;
  letter-spacing: 0px;
  margin-bottom: 0;
  color: #515365;
}
.widget-chart-one .widget-heading .tabs {
  padding: 0;
  margin: 0;
}
.widget-chart-one .widget-heading .tabs li {
  display: inline-block;
  list-style: none;
  padding: 0 0;
}
.widget .dropdown-toggle {
  position: relative;
  padding: 9px 15px 10px 15px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  transform: none;
  font-size: 13px;
  line-height: 17px;
  background-color: #fff;
  letter-spacing: normal;
  min-width: 115px;
  text-align: inherit;
  color: #1b2e4b;
  box-shadow: none;
  max-height: 35px;
}
.widget .dropdown-menu a {
  padding: 8px 15px;
  font-size: 13px;
  font-weight: 500;
  color: #3b3f5c;
}
.widget-table-one .weekly-bestsellers:not(:last-child) {
  margin-bottom: 15px;
}
.widget-table-one .weekly-bestsellers {
  padding: 12px 12px;
  border-radius: 8px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.05);
  border: 1px solid #efefef;
}
.widget-table-one .weekly-bestsellers:hover {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  cursor: pointer;
}
.widget-table-one .weekly-bestsellers .t-item {
  display: flex;
  justify-content: space-between;
}
.widget-table-one .weekly-bestsellers .t-item .t-company-name {
  display: flex;
}
.widget-table-one .weekly-bestsellers .t-item .t-icon {
  margin-right: 12px;
}
.widget-table-one .weekly-bestsellers .t-item .t-name {
  align-self: center;
}
.widget-table-one .weekly-bestsellers .t-item .t-name h4 {
  font-size: 15px;
  letter-spacing: 0px;
  font-weight: 600;
  margin-bottom: 0;
}
.widget-table-one .weekly-bestsellers .t-item .t-name .meta-date {
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 600;
  color: #888ea8;
}
.widget-table-one .weekly-bestsellers .t-item .t-rate {
  align-self: center;
}
.widget-table-one .weekly-bestsellers .t-item .t-rate.rate-inc p {
  color: #009688;
}
.widget-table-one .weekly-bestsellers .t-item .t-rate p {
  margin-bottom: 0;
  font-size: 13px;
  letter-spacing: 0px;
}
.ecommerce-table .widget-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ecommerce-table .table > thead > tr > th {
  text-transform: initial;
  font-weight: 500;
  background-color: #f3f7f9;
  color: #0e1726;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  padding: .75rem;
}
.widget.ecommerce-table .dropdown-toggle {
  position: relative;
  padding: 6px 10px 6px 10px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  transform: none;
  font-size: 12px;
  line-height: 17px;
  background-color: #fff;
  letter-spacing: normal;
  min-width: 115px;
  text-align: inherit;
  color: #1b2e4b;
  box-shadow: none;
  max-height: 35px;
}
/* DASHBOARD ENDS */
/* PRODUCTS STARTS*/
.filtered-list-search form > div {
  position: relative;
  width: 80%;
}
.filtered-list-search form i.la-search {
  position: absolute;
  color: #82b4ff;
  left: 11px;
  top: 10px;
  font-size: 18px;
}
.filtered-list-search form input.search-form-control {
  border: 1px solid #e6f0ff;
  width: 100%;
  font-size: 13px !important;
  background-color: #e6f0ff;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #2262c6;
  letter-spacing: 0.5px;
  padding: 0px 4px 0px 40px;
  height: 36px;
  font-weight: 500;
}
.filtered-list-search form input:focus {
  box-shadow: none;
  border: 1px solid #b0d0ff !important;
  border-color: #b0d0ff !important;
  color: #2262c6;
}
.filtered-list-search form input:focus::placeholder {
  color: #2262c6;
  font-size: 13px !important;
}
.filtered-list-search form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #2262c6;
  font-size: 13px !important;
}
.filtered-list-search form input::-moz-placeholder { /* Firefox 19+ */
  color: #2262c6;
  font-size: 13px !important;
}
.filtered-list-search form input:-ms-input-placeholder { /* IE 10+ */
  color: #2262c6;
  font-size: 13px !important;
}
.filtered-list-search form input:-moz-placeholder { /* Firefox 18- */
  color: #2262c6;
  font-size: 13px !important;
}
.contact-options a.s-o {
  color: #2262c6;
  font-size: 19px;
  font-weight: 700;
  height: 33px;
  width: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px !important;
  border-radius: 50%;
  cursor: pointer;
  transition: all ease 0.4s;
}
.custom-dropdown-icon .dropdown-toggle {
  position: relative;
  padding: 7px 12px 7px 12px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  transform: none;
  font-size: 12px;
  line-height: 17px;
  background-color: #fff;
  letter-spacing: normal;
  min-width: 115px;
  text-align: inherit;
  color: #1b2e4b;
  box-shadow: none;
  max-height: 35px;
  margin-left: 1rem;
}
.searchable-items.list .items .item-content {
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  padding: .75rem .625rem;
  position: relative;
  display: inline-flex;
  min-width: 0;
  word-wrap: break-word;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 8px;
  border-radius: 6px;
  padding: 13px 18px;
  width: 100%;
  min-width: 767px;
  transition: all 0.35s ease;
  box-shadow: 0px 2px 4px rgba(126,142,177,0.12);
  cursor: pointer;
}
.searchable-items.list .items.items-header-section h4 {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 39px;
}
.searchable-items.list .items .product-price p span, .searchable-container .searchable-items.list .items .product-rating p span, .searchable-container .searchable-items.list .items .product-stock-status p span {
  display: none;
}
.searchable-items.list .items .product-info {
  display: flex;
}
.searchable-items.list .items .product-info img {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  margin-right: 11px;
  margin-left: 18px;
  object-fit: cover;
}
.searchable-items.list .items .user-meta-info .product-name {
  margin-bottom: 0;
  color: #3b3f5c;
  font-weight: 500;
  font-size: 14px;
}
.searchable-items.list .items .user-meta-info .product-category {
  margin-bottom: 0;
  color: #515365;
  font-weight: 500;
  font-size: 12px;
}
.searchable-items.list .items .product-price p {
  margin-bottom: 0;
  color: #515365;
  font-weight: 600;
}
.searchable-items.list .items .product-rating p {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
}
.searchable-items.list .items .product-stock-status p {
  margin-bottom: 0;
  color: #515365;
  font-weight: 600;
  font-size: 13px;
}
.searchable-items.list .items .action-btn {
  font-weight: 600;
  color: #acb0c3;
}
.searchable-items.grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.searchable-items.grid .items {
  margin-bottom: 30px;
  border-radius: 6px;
  width: 100%;
  color: #0e1726;
  transition: all 0.35s ease;
  width: 33%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.searchable-items.grid .items .item-content {
  background-color: #fff;
  padding: 13px 18px;
  box-shadow: 0px 0px 4px 1px rgba(126,142,177,0.12);
  -webkit-box-shadow: 0px 0px 4px 1px rgba(126,142,177,0.12);
  border-radius: 6px;
  cursor: pointer;
}
.searchable-items.grid .items .product-info {
  text-align: center;
  margin-top: 20px;
}
.searchable-items.grid .items .product-info img {
  height: 140px;
  width: 100%;
  object-fit: cover;
}
.searchable-items.grid .items .user-meta-info {
  margin-top: 10px;
}
.searchable-items.grid .items .user-meta-info .product-name {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 0;
  color: #2262c6;
  letter-spacing: 0.5px;
}
.searchable-items.grid .items .user-meta-info .product-category {
  font-weight: 500;
  font-size: 13px;
}
.searchable-items.grid .items .product-price {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.searchable-items.grid .items .product-price p {
  color: #5d5d5d;
  font-size: 13px;
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.searchable-items.grid .items .product-price p span {
  font-size: 13px;
  margin-right: 6px;
  color: #4990ff9c;
}
.searchable-items.grid .items .product-rating {
  display: flex;
  justify-content: center;
}
.searchable-items.grid .items .product-rating p {
  color: #5d5d5d;
  font-size: 13px;
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.searchable-items.grid .items .product-rating p span {
  font-size: 13px;
  margin-right: 6px;
  color: #4990ff9c;
}
.searchable-items.grid .items .product-stock-status {
  display: flex;
  justify-content: center;
}
.searchable-items.grid .items .product-stock-status p {
  color: #5d5d5d;
  font-size: 13px;
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.searchable-items.grid .items .action-btn {
  font-weight: 600;
  color: #acb0c3;
  text-align: center;
  margin: 15px 0 5px;
}
.searchable-items.grid .items.items-header-section {
  display: none;
}
/* PRODUCTS ENDS*/
/* PRODUCT DETAILS STARTS */
.product-details .nav-link {
  display: block;
  padding: 2px;
  margin: 5px 4px;
}
.product-details .nav-pills .nav-link.active {
  color: #fff;
  background-color: transparent;
  border: 1px solid gainsboro;
}
a.product-details-wishlist {
  height: 44px;
  width: 44px;
  display: block;
  position: absolute;
  background: white;
  font-size: 30px;
  text-align: center;
  color: #ea0041 !important;
  border-radius: 50%;
  right: 25px;
  top: 10px;
  cursor: pointer;
  transition: all ease .2s;
}
a.product-details-wishlist:hover {
  top: 8px;
  transition: all ease .2s;
}
.animated-underline-content .nav-tabs {
  border-bottom: 1px solid #e0e6ed;
}
.animated-underline-content .nav-tabs .nav-link.active, .animated-underline-content .nav-tabs .show>.nav-link {
  border-color: transparent;
  color: #2262c6;
}
.animated-underline-content .nav-tabs li a {
  padding: 15px 1rem;
  position: relative;
  margin: 0px;
}
.animated-underline-content .nav-tabs .nav-link:hover {
  background: #f1f1f1;
  transition: all ease 0.4s;
  border: 1px solid transparent;
}
.animated-underline-content .nav-tabs .nav-link.active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.animated-underline-content .nav-tabs .nav-link:before {
  content: "";
  height: 1px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #2262c6;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all .3s;
}
.single-review {
  padding: 14px;
  border: 1px solid #e9ecef;
  border-radius: 8px;
}
div.accordion {
  width: 100%;
}
div.accordion .accordion-group {
  width: 100%;
}
div.accordion .accordion-group .accordion-toggle {
  width: 100%;
  border: 1px solid #e9ecef;
  padding: 10px;
  margin-top: 15px;
  display: block;
}
.accordion-body .accordion-inner{
  padding: 14px 15px;
  border: 1px solid #e9ecef;
  border-top: 0px;
  background: #f9f9f9;
}
.accordion-toggle.collapsed .las.la-angle-down {
  transform: rotate(0deg);
  transition: all ease 0.4s;
}
.accordion-toggle .las.la-angle-down {
  transform: rotate(180deg);
  transition: all ease 0.4s;
}
/* PRODUCT DETAILS ENDS */
/* ADD PRODUCT STARTS */
.add-product .form-group label{
  color: #515365;
  letter-spacing: 0px;
  font-weight: 500;
}
.add-product .dropzone {
  border: 2px dashed hsla(217, 71%, 45%, 0.38);
}
.add-product .dropzone .dz-message .dz-button {
  font-size: 23px;
  font-weight: 300;
  color: #2262c6;
}
.add-product .dropzone span.note.needsclick {
  font-weight: 300;
}
.add-product .dropzone .dz-preview.dz-error:hover .dz-error-message {
  opacity: 0;
  pointer-events: auto;
}
.add-product .dropzone .dz-preview.dz-error .dz-error-mark {
  opacity: 0;
}
/* ADD PRODUCT ENDS */
/* ORDERS STARTS */
/* Checkbox */
.cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098A9;
  transition: all 0.2s ease;
}
.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #2262c6;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}
.cbx span:last-child {
  padding-left: 8px;
}
.cbx:hover span:first-child {
  border-color: #2262c6;
}
.inp-cbx:checked + .cbx span:first-child {
  background: #2262c6;
  border-color: #2262c6;
  animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
/* Checkbox */
/* ORDERS ENDS */
/* ORDER DETAILS STARTS */
.track-order-list {
  letter-spacing: 0px;
}
.track-order-list ul li.completed {
  border-color: #2262c6;
}
.track-order-list ul li:first-child {
  padding-top: 0;
}
.track-order-list ul li {
  position: relative;
  border-left: 2px solid #dee2e6;
  padding: 0 0 14px 21px;
}
.track-order-list ul li:before {
  content: "";
  position: absolute;
  left: -7px;
  top: 0;
  height: 12px;
  width: 12px;
  background-color: #2262c6;
  border-radius: 50%;
  border: 3px solid #fff;
}
.track-order-list ul li .active-dot.dot {
  top: -1px;
  left: -8px;
  border: 1px solid #2262c6;
  background: transparent;
  height: 14px;
  width: 14px;
  position: absolute;
  border-radius: 50%;
}
.track-order-list ul li:last-child {
  padding-bottom: 0;
}
.order-detail-table, .order-details-box {
  letter-spacing: 0px;
}
.order-detail-table .table .thead-light th {
  font-weight: 500;
}
/* ORDER DETAILS ENDS */
/* CHECKOUT STARTS */
.checkout-tab-heading-container .nav-pills .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
}
.checkout-tab-heading-container .nav-pills .nav-link i{
  font-size: 30px;
  margin-bottom: 3px;
}
.checkout-tab-heading-container .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #2262c6;
}
.billing-tab .form-group label, .payment-tab .form-group label {
  color: #515365;
  letter-spacing: 0px;
  font-weight: 500;
}
/* CHECKOUT ENDS */
/* CART STARTS */
.cart-table{
  letter-spacing: 0px;
}
.cart-table p a {
  font-weight: 600;  
  margin-top: 7px;
  padding-top: 7px;
}
.cart-table label{
  color: #515365;
  font-weight: 500;
}
.cart-area .card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.visa-card .visa-pattern {
  position: absolute;
  font-size: 385px;
  color: hsla(0,0%,100%,.05);
  line-height: .4;
  right: 0;
  bottom: 0;
}
/* CART ENDS */
/* SELLER STARTS */
.single-seller .card-img-top {
  width: 90px;
  margin: 20px 10px 0px;
}
.single-seller .meta-date {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #2262c6;
}
.single-seller .card-title {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.single-seller .card-text {
  color: #888ea8;
  font-size: 11px;
}
.single-seller .meta-bottom-info {
  align-self: center;
  margin-right: 13px;
  color: #a7a7a7;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
}
/* SELLER ENDS */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .new-control.new-checkbox .new-control-indicator {
    top: -13px;
    left: -8px;
  }
}
@media(max-width: 1199px) {
  .searchable-container .searchable-items.list {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .searchable-container .searchable-items.grid .items {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media(max-width: 767px) {
  .searchable-container .searchable-items.list {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .searchable-container .searchable-items.list .items {
    min-width: 767px;
  }
  .searchable-container .searchable-items.grid .items {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .details-tab-area .nav.nav-tabs {
    justify-content: center;
  }
}
@media(max-width: 575px) {
  .searchable-container .searchable-items.grid .items {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .filtered-list-search form > div {
    width: 100%;
  }
  .add-product .dropzone .dz-message .dz-button {
    margin-bottom: 10px;
  }
}
